---
import Default from "../../layouts/Default.astro";
import Card from "../../components/Card.astro";
---
<Default title="Leaflet maps">
<h1>Leaflet maps</h1>
<Card title={null} link={null}><div id="map"></div></Card>
<br>
<Card title="Additional controls" link={null}>
<button type="button" class="btn" id="location_get">Get location</button>
</Card>
<script>
import * as L from 'leaflet'
import 'leaflet-draw'
const locationGetBtn = document.querySelector('#location_get') as HTMLButtonElement
const osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '© OpenStreetMap'
})
const topo = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}g', {
    maxZoom: 19,
    attribution: '© Arcgis maps'
})
const satellite = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
    maxZoom: 19,
    attribution: '© Arcgis maps'
})
const radar = L.tileLayer('https://mesonet.agron.iastate.edu/cache/tile.py/1.0.0/ridge::USCOMP-N0Q-0/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '© Iowa State University'
})

const map = L.map('map', {
    center: [37.8, -96],
    zoom: 4,
    layers: [osm]
})

const layerControl = L.control.layers(
    {
        "OpenStreetMap": osm,
        "Arcgis Satellite": satellite,
        "Topo": topo
    },
    {
        "Weather radar": radar
    }, 
    {
        collapsed: false
    }
)
layerControl.addTo(map)
const drawnItems = new L.FeatureGroup()
map.addLayer(drawnItems)
const drawControl = new L.Control.Draw({edit: {featureGroup: drawnItems}})
map.addControl(drawControl)

map.on(L.Draw.Event.CREATED, function(event) {
    const layer = event.layer
    drawnItems.addLayer(layer)
})

locationGetBtn.addEventListener('click', function(event: Event) {
    map.on('locationfound', function(event) {
        L.marker(event.latlng).addTo(map)
    })
    map.on('locationerror', function(event) {
        alert(event.message)
    })
    map.locate({setView: true,maxZoom: 10})
})
</script>
</Default>